.container {
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 64px;

  button {
    margin-top: 4rem;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-align: justify;
    background: transparent;
    color: var(--pink-500);
    border: 0;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.7);
    }
  }
}

.posts {
  max-width: 720px;
  margin: 1.25rem auto 0;


  a {
    display: block;
    transition: filter 0.2s;

    & + a {
      margin-top: 3rem;
    }

    strong {
      font-weight: 700;
      font-size: 1.75rem;
      line-height: 2.125rem;
      text-align: justify;
      letter-spacing: -0.5px;
      color: var(--gray-100);
    }

    p {
      margin-top: 0.5rem;
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.375rem;
      text-align: justify;
      color: var(--gray-150);
    }

    div {
      margin-top: 1.5rem;
      display: flex;
      align-items: center;

      svg {
        margin-right: 0.5rem;
        width: 15px;
        height: 15px;
        color: var(--gray-200);
      }

      time, span {
        margin-right: 1.625rem;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.0625rem;
        color: var(--gray-200);
      }

      time {
        text-transform: capitalize;
      }
    }

    &:hover {
      filter: brightness(0.7);
    }
  }
}

.previewButton {
  max-width: 720px;
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375rem;
    background: transparent;
    color: var(--pink-500);
    border: 0;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.7);
    }
  }
}
